@charset "UTF-8";
body{
    background-color: lightblue;
    margin: 0;
}
nav{
    background-color: rgb(36, 106, 129) ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: rgb(16, 128, 165);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin: 0;
    box-shadow: 1px 1px 1px 1px black;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center ;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(133, 168, 180);
    width: 200px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.281);
}
p{
    background-color: white;
    text-align: justify;
    margin-bottom: auto;
    border:rgb(110, 137, 146);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.281) ;
}
.wiki{
    background-color: lightblue;
    text-decoration: none;
    border:1px solid rgba(0, 0, 0, 0.507);
    border-radius: 0;
    width: 200px;
}
.wiki>a{
    text-decoration:none;
    color: black;
}
.wiki>a:hover{
    text-decoration: underline;
    color: blue;
}
nav>a:hover{
    color: rgb(60, 69, 146);
    text-decoration: underline;
}
nav>a{
    text-decoration: none;
    margin-right: 128px;
}
footer>p{
    color: white;
    background-color: black;
    border-radius: 0;
}
p>a{
    color: white;
    text-decoration: none;
}
footer>p>a:hover{
    text-decoration: underline;
    color: red;
}